
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{!-- <script src="/js/app.js"></script> --}}
    <link rel="stylesheet" href="./css/style.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <header style="font-size: larger; color:brown"><h1>{{title}}</h1>
        <div>
            <a href="/">Weather</a>
            <a href="/about">About</a>
            <a href="/help">Help</a>
        </div>
    </header>
</body>
</html>
{{!-- <header>This is header so that that we can use it everywhere</header> --}}